{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>SGM - Home</title>
{% endblock %}

{% block container %}
    <div class="align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
            {{ titulo }}
        </h1>
        <p>{{ usuario_nome }}</p>
        
        {% if user.perfil.nome_completo %}
            <p>Olá {{ user.perfil.nome_completo }}</p>
        {% else %}
            Você precisa completar seu cadastro.
        {% endif %}
        
        {% autoescape off %}
            {{ to_html }}
        {% endautoescape %}
    </div>
{% endblock %}