{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>SGM - Cadastrar Campus</title>
{% endblock %}

{% block container %}
    <div class="align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
            Novo Campus
        </h1>
    </div>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'campus-index' %}" class="btn btn-danger">Cancelar</a>
    </form>
{% endblock %}