{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>SGM - Cadastrar Campus</title>
{% endblock %}

{% block container %}
    <div class="align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
            Cadastrar Campus
        </h1>
    </div>
    
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-x1-5 col-md-12 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body" style="padding: 0px;">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    
                                    <div class="row">
                                        
                                        <div class="col-x1-3 col-md-6 mb-4" style = "padding: 10px; margin-bottom: 0px !important; padding-left: 30px !important;">
                                            <div class="h5 mb-0 font-weight-bold text-primary">Registro dos Campus</div>
                                        </div>
                                        
                                        {% if request.user.groups.all.0.name == 'Administrador' %}
                                            <div class="col-x1-1 col-md-6 mb-4" style = "margin-bottom: 0px !important; text-align: right;">
                                                <div class="h5 mb-0 font-weight-bold text-primary">
                                                    <a href="{% url 'campus-create' %}" class="btn btn-dark">Adicionar</a>
                                                </div>
                                            </div>
                                        {% endif %}

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Sigla</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nome</th>
                            <th>Sigla</th>
                            <th>Foto</th>
                            <th>&nbsp;</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for c in object_list %}
                            <tr>
                                <td>{{ c.nome }}</td>
                                <td>{{ c.sigla }}</td>
                                <td>
                                    {% if c.arquivo %}
                                        <a href="{{c.arquivo.url}}" style = "padding-right: 20px; text-decoration: none;" target="blank">
                                            <i class="fas fa-solid fa-image fa-lg"></i>
                                        </a>
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </td>
                                <td align="center">
                                    {% if request.user.groups.all.0.name == 'Administrador' %}
                                        <a href="{% url 'campus-update' c.id %}" style = "padding-right: 20px; text-decoration: none;">
                                            <i class="fas fa-solid fa-edit fa-lg"></i>
                                        </a>
                                        <a href="{% url 'campus-delete' c.id %}">
                                            <i class="fas fa-solid fa-trash fa-lg"></i>
                                        </a>
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4">Nenhum registro.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}